.photo-grid {
    max-width: 1184px;
    max-height: 671px;
    margin: 0;
    margin-left: 48px;
    margin-top: calc(1754px - 429px - 1233px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr)) ;
    gap: 16px;
}