.lead {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 984px;
    padding-top: 56px;
  }
  
  @media screen and (max-width: 1279px) {
    .lead {
      max-width: 928px;
      padding-top: 48px;
    }
  }