.footer__links {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    column-gap: 18px;
    list-style-type: none;
}

@media screen and (max-width: 767px) {
    .footer__links {
        gap: 32px;
        flex-direction: column;
        padding: 0 0 48px;
    }
}