.place__paragraph {
    margin: 0;
    max-width: 484px;
    font-size: 18px;
    line-height: 29px;
    font-style: normal;
    font-weight: 400px;
    color: #FFFFFF;
}

.place__paragraph:last-of-type {
    max-height: 203px;
    margin-top: 26px;
}