.intro {
    margin: 0 auto;
    width: 100%;
    max-width: 984px;
    padding-top: 92px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

@media screen and (max-width: 1279px) {
    .intro {
      max-width: 928px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .intro {
      padding-top: 88px;    
    }
  }
  
  @media screen and (max-width: 767px) {
    .intro {
      box-sizing: border-box;
      padding: 64px 16px 0;
    }
  }