.lead__subtitle {
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    height: 72px;
    font-size: 30px;
    text-align: center;
    font-weight: 400px;
    font-style: normal;
    color: #FFFFFF
}