.lead__subtitle {
    margin-top: 32px;
    width: 640px;
    height: 72px;
    font-size: 30px;
    font-weight: 400px;
    line-height: 36px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
    border: 1px red solid;
}