.cover__background {
    justify-content: center;
    align-content: center;
    max-width: 100%;
    min-height: 740px;
    background-image: url('../../../images/cover-trains.jpg');
    background-size: cover;
    background-position: center;
    text-decoration: none;
    display: grid;
    grid-template-columns: 560px;
    grid-template-rows: fit-content(152px);
    row-gap: 32px;
    position: relative;
    z-index: 0; 
} 

.cover__background:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;    
}

.cover__background:hover:before {
    opacity: 0.8;
}

@media screen and (max-width: 1279px) {
    .cover__background {
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__background {
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__background {
        min-height: 400px;
        grid-template-columns: 288px;
    }
}

@media screen and (max-width: 425px) {
    .cover__background {
        min-height: 340px;
    }
}

@media screen and (max-width: 320px) {
    .cover__background {
        min-height: 200px;
    }
}