.place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    max-width: 984px;  
    max-height: 660px; 
    margin-left: 148px;
    margin-right: 148px;

    border: 1px red solid;
}